build/
.vs/
dist/
diagnostics/
log/
_recover_zip/
__pycache__/

**/Debug/
**/Release/
**/RelWithDebInfo/
**/MinSizeRel/

*.user
*.suo
*.VC.db
*.VC.opendb
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe
*.log
*.wixpdb
*.wixobj

# Keep only publishable MSI in repository root.
**/*.msi
!/*.msi
